html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  background-color: #FEF5E7;
  margin: 1em;
  padding: 2rem;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

header nav ul li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
  color: #117A65;
}

h1, h2, h3 {
  color: #145A32;
}
h4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.description {
  margin: 1rem;
  grid-gap: 2em;
}

.reviews {
  background-color: #fff;
}

.also-browsing {
  padding: 1em;
  display: grid;
  align-items: center;
  justify-content: center;

}

button {
  color: #fff;
  border: 2px solid #fff;
  background-color: #145A32;
  border-radius: 5px;
}

button:hover,
button:focus {
  text-decoration: underline;
  background-color: #117A65;
}

footer {
  text-align: center;
  padding: 3rem;
}

/* Default styling for all screens ends here */

.wrapper {

}

.description {
  display: grid;
  grid-template-columns: 1fr;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.reviews {
  display: grid;
  grid-template-columns: 1fr;
}
/* Add media query for tablet */

@media only screen and (min-width: 768px) {
  .description {
    grid-template-columns: 1fr 1fr;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
}
/* Add media query for desktop */

@media only screen and (min-width: 1280px) {
  .description {
    grid-template-columns: 1fr 1fr;
  }

  .reviews {
  grid-template-columns: 1fr 1fr 1fr;
  }
}
